<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  PreProcessor  -->
    <bean id="preProcessorToLower" class="preprocess.PreProcessorToLowerImpl" />
    <bean id="preProcessorToUpper" class="preprocess.PreProcessorToUpperImpl" />

    <!--  Renderer  -->
    <bean id="rendererErrToLower" class="renderer.RendererErrImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererErrToUpper" class="renderer.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>
    <bean id="rendererOutToLower" class="renderer.RendererStandardImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererOutToUpper" class="renderer.RendererStandardImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <!--  Printer  -->
    <bean id="printerWithDateTime" class="printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="rendererErrToUpper"/>
    </bean>
    <bean id="printerWithPrefix" class="printer.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererErrToUpper"/>
        <property name="prefix" value="PREFIX"/>
    </bean>

</beans>